In [6]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True 
        else:
            pass
check_even_list([1,3,5 ])

In [10]:
def player_guess():
    guess = input("Pick a number: 0, 1 or 2: ")
    while guess not in ["0", "1", "2"]:
        guess = input("Invalid choice. Pick a number: 0, 1 or 2: ")
    return int(guess)
player_guess()
def check_guess(mixedup_list, guess):
    if mixedup_list[guess] == 'O':
        print("Congratulations! You found the object!")
    else:
        print("Sorry, try again!")
player_guess()

2

In [ ]:
def myfunc(a,b,c=0,d=0,e=0):
    
    return sum((a,b,c,d,e)) * 0.05  
myfunc(40,60,100,200,300)

35.0

In [13]:
def myfunc(*args):
    print(args)
myfunc(1,2,3,4546,5465)

(1, 2, 3, 4546, 5465)

In [17]:
def myfunc(**kwargs):
    print(kwargs)
    if "fruits" in kwargs:
        print("My favorite fruit is {}".format(kwargs["fruits"]))
    else:
        print("I don't have a favorite fruit.")
myfunc(fruits="apple", veggie="lettuce")

{'fruits': 'apple', 'veggie': 'lettuce'}
My favorite fruit is apple

In [20]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)
print("Smallest numbers is",lesser_of_two_evens(2,4))

Smallest numbers is 2

In [1]:
def animal_cracker(text):
    word_list = text.split()
    if len(word_list) >= 2:
        return word_list[0][0].lower() == word_list[1][0].lower()
    else:
        return False

a = input("Enter two words: ")
print(animal_cracker(a))

True

In [3]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or (n1 + n2) == 20:
        return True
    else:
        return False
makes_twenty(20,10)

True

In [4]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].lower()
    else:
        return "Name is too short"
old_macdonald("macdonald")

'Macdonald'

In [5]:
def master_yoda(text):
    words = text.split()
    return ' '.join(reversed(words))
master_yoda("I am home")

'home am I'

In [7]:
def almost_there(n):
    return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)
almost_there(104)

True

In [ ]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3, 3]   :
            return True
    return False
has_33([1,3,3])
has_33([1,3,1,3])

False

In [12]:
def paper_doll(text):
    new_string = ""
    for char in text:
        new_string += char * 3
    return new_string
paper_doll("Hello")

'HHHeeellllllooo'

In [15]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif 11 in (a,b,c) and sum((a,b,c)) <= 31:
        return sum((a,b,c)) - 10
    else:
        return "BUST"
blackjack(19, 20, 21)
blackjack(9,9,11)

19

In [17]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        if num == 6:
            add = False
        if add:
            total += num
        if num == 9:
            add = True
    return total
summer_69([1, 3, 5])
summer_69([4, 5, 6, 7, 8, 9])

9

In [20]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code) == 1
spy_game([1,2,4,0,0,7,5])
spy_game([1,0,2,4,0,5,7])
spy_game([1,7,2,0,4,5,0])

False

In [21]:
def count_primes(num):
    if num<2:
        return 0 
    primes = 0
    for i in range(2,num+1):
        for j in range(2,i):
            if i%j == 0:    
                break
        else:
            primes += 1
    return primes
count_primes(100)

25

In [23]:
def square(num):
    return num**2
my_num = [1,2,3,4,5]
squared = list(map(square, my_num)) 
print(squared)

[1, 4, 9, 16, 25]

In [26]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'   
    else :
        return mystring[0]
splicer("Hello")
names = ["Alice", "Bob", "Charlie"] 
print(list(map(splicer, names)))

['A', 'B', 'C']

In [32]:
def check_even_odd(num):
    return num % 2 == 0 
my_nums = [1,2,3,4,5,6]
filtered = filter(check_even_odd, my_nums)
#print(list(map(check_even_odd, my_nums)))
print(list(filtered))

[2, 4, 6]

In [34]:
def square(num): return num**2
square(78)

6084

In [35]:
square = lambda num: num**2
square(7)

49

In [38]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [40]:

x = 50
def func(x):
    print(f"x is {x}")
    x = 200 
    print(f"I just locally changed x to {x}")
func(x)

x is 50
I just locally changed x to 200

In [42]:
def vol(x):
    return x **3
vol(5)

125

In [44]:
def palindrome(s):
    cleaned = ''.join(c.lower() for c in s if c.isalnum())
    return cleaned == cleaned[::-1]
palindrome("naman")
palindrome("Utkarsh")

False

In [1]:
5 in range (0,5)

False

In [4]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(f"{num} is in the range")
    else:
        print(f"{num} is not in the range")
ran_check(3,1,10)

3 is in the range

In [5]:
def up_low(s):
    upper = 0
    lower = 0
    for c in s:
        if c.isupper():
            upper += 1
        elif c.islower():
            lower += 1
    print(f"Uppercase letters: {upper}")
    print(f"Lowercase letters: {lower}")
    return

In [6]:
def unique_list(lst):
    seen_numbers = []
    for i in lst:
        if i not in seen_numbers:
            seen_numbers.append(i)
    return seen_numbers
unique = unique_list([1, 2, 2, 3, 4, 4, 5])
print(unique)

[1, 2, 3, 4, 5]

In [7]:
def multiply(numbers):
    total = 1
    for n in numbers:
        total *= n
    return total
multiply([1,2,3,-4])

-24

In [8]:
def palindrome(s):
    s = s.replace(' ','')
    return s == s[::-1]
palindrome("naman")

True

In [9]:
import string 
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphas = set(alphabet)
    str1 = str1.replace(" ","")
    str1 = str1.lower()
    str1 = set(str1)
    return str1 == alphas
ispangram("The quick brown fox jumps over the lazy dog")

True